In [1]:
import pandas as pd
import numpy as np
import datetime
from data import LoadSales

In [2]:
data = LoadSales('teradata_sales')

In [3]:
weekly_sales = data.agg_weekly_sales()
monthly_sales =data.agg_monthly_sales()

In [4]:
def get_methods(object, spacing=20): 
  methodList = [] 
  for method_name in dir(object): 
    try: 
        if callable(getattr(object, method_name)): 
            methodList.append(str(method_name)) 
    except: 
        methodList.append(str(method_name)) 
  processFunc = (lambda s: ' '.join(s.split())) or (lambda s: s) 
  for method in methodList: 
    try: 
        print(str(method.ljust(spacing)) + ' ' + 
              processFunc(str(getattr(object, method).__doc__)[0:90])) 
    except: 
        print(method.ljust(spacing) + ' ' + ' getattr() failed')

In [5]:
get_methods(data)

__class__
__delattr__          Implement delattr(self, name).
__dir__              Default dir() implementation.
__eq__               Return self==value.
__format__           Default object formatter.
__ge__               Return self>=value.
__getattribute__     Return getattr(self, name).
__gt__               Return self>value.
__hash__             Return hash(self).
__init__             None
__init_subclass__    This method is called when a class is subclassed. The default implementation does nothing
__le__               Return self<=value.
__lt__               Return self<value.
__ne__               Return self!=value.
__new__              Create and return a new object. See help(type) for accurate signature.
__reduce__           Helper for pickle.
__reduce_ex__        Helper for pickle.
__repr__             Return repr(self).
__setattr__          Implement setattr(self, name, value).
__sizeof__           Size of object in memory, in bytes.
__str__              Return str(self).
__subclasshook__     Abstract classes can override this to customize issubclass(). This is invoked early on by
agg_monthly_sales    aggregate daily sales to monthly sales per product Parameters ---
agg_weekly_sales     aggregate daily sales to weekly sales per product Parameters ----
transform            transform the agg data to the suitable format to make forecasts Parameters

In [6]:
monthly_sales =data.agg_monthly_sales()

In [12]:
data.transform(freq ="month",sku = 69239730)

         date   sales
0  2016-07-01   429.0
1  2016-08-01   331.0
2  2016-09-01   336.0
3  2016-10-01   412.0
4  2016-11-01   595.0
5  2016-12-01  1459.0
6  2017-01-01   504.0
7  2017-02-01   319.0
8  2017-03-01  1005.0
9  2017-04-01   432.0
10 2017-05-01   378.0
11 2017-06-01   266.0
12 2017-07-01   204.0
13 2017-08-01   185.0
14 2017-09-01   208.0
15 2017-10-01   209.0
16 2017-11-01   577.0
17 2017-12-01  1326.0
18 2018-01-01   505.0
19 2018-02-01   233.0
20 2018-03-01   836.0
21 2018-04-01   403.0
22 2018-05-01   273.0
23 2018-06-01   238.0
24 2018-07-01   228.0
25 2018-08-01   235.0
26 2018-09-01   205.0
27 2018-10-01   226.0
28 2018-11-01   493.0
29 2018-12-01  1001.0
30 2019-01-01   384.0
31 2019-02-01   295.0
32 2019-03-01   280.0
33 2019-04-01   216.0
34 2019-05-01   239.0
35 2019-06-01   256.0
36 2019-07-01   233.0
37 2019-08-01   236.0
38 2019-09-01   221.0
39 2019-10-01   220.0
40 2019-11-01   186.0
41 2019-12-01   155.0

In [11]:
data.dataframe

,NUM_ART,DAT_VTE,QTE_VTE,DAT_VTE,week_of_year,month_of_quarter,month_of_year,quarter_of_year,year_of_calendar
0,69239730,2017-02-04,0.0,2017-02-04,5,2,2,1,2017
1,80055430,2018-09-30,1.0,2018-09-30,39,3,9,3,2018
2,75943840,2017-09-04,0.0,2017-09-04,36,3,9,3,2017
3,74648364,2019-07-22,1.0,2019-07-22,29,1,7,3,2019
4,67871090,2019-08-27,0.0,2019-08-27,34,2,8,3,2019
5,70755272,2018-11-21,1.0,2018-11-21,46,2,11,4,2018
6,69278426,2019-09-07,0.0,2019-09-07,35,3,9,3,2019
7,69594910,2018-10-16,1.0,2018-10-16,41,1,10,4,2018
8,80127294,2019-09-09,1.0,2019-09-09,36,3,9,3,2019
9,70255752,2019-03-16,1.0,2019-03-16,10,3,3,1,2019
10,69239730,2017-12-30,0.0,2017-12-30,52,3,12,4,2017
11,70255731,2018-05-07,1.0,2018-05-07,18,2,5,2,2018
12,69239730,2017-06-12,1.0,2017-06-12,24,3,6,2,2017
13,70915145,2019-02-13,1.0,2019-02-13,6,2,2,1,2019
14,70255752,2019-10-10,1.0,2019-10-10,40,1,10,4,2019
15,82039338,2020-01-04,0.0,2020-01-04,0,1,1,1,2020
16,65752911,2019-02-15,0.0,2019-02-15,6,2,2,1,2019
17,65742852,2018-08-12,1.0,2018-08-12,32,2,8,3,2018
18,69278461,2018-02-23,1.0,2018-02-23,7,2,2,1,2018
19,75943840,2017-03-13,0.0,2017-03-13,11,3,3,1,2017
20,80127294,2020-01-06,1.0,2020-01-06,1,1,1,1,2020
21,65742852,2017-10-05,1.0,2017-10-05,40,1,10,4,2017
22,69654263,2018-04-06,0.0,2018-04-06,13,1,4,2,2018
23,70755272,2019-11-13,2.0,2019-11-13,45,2,11,4,2019
24,69239730,2016-07-29,1.0,2016-07-29,30,1,7,3,2016
25,70334880,2016-08-30,0.0,2016-08-30,35,2,8,3,2016
26,69725145,2019-10-08,1.0,2019-10-08,40,1,10,4,2019
27,80127294,2019-07-05,1.0,2019-07-05,26,1,7,3,2019
28,70255724,2019-07-01,1.0,2019-07-01,26,1,7,3,2019
29,70255731,2019-01-06,2.0,2019-01-06,1,1,1,1,2019
...,...,...,...,...,...,...,...,...,...
499259,70255731,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499260,70255731,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499261,70255731,2019-03-18,0.0,2019-03-18,11,3,3,1,2019
499262,69725145,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499263,69725145,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499264,69725145,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499265,69725145,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499266,69725145,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499267,69725145,2019-03-18,0.0,2019-03-18,11,3,3,1,2019
499268,69725145,2019-03-18,0.0,2019-03-18,11,3,3,1,2019
499269,70255752,2019-03-18,2.0,2019-03-18,11,3,3,1,2019
499270,70255752,2019-03-18,0.0,2019-03-18,11,3,3,1,2019
499271,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499272,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499273,70255752,2019-03-18,2.0,2019-03-18,11,3,3,1,2019
499274,70255752,2019-03-18,3.0,2019-03-18,11,3,3,1,2019
499275,70255752,2019-03-18,0.0,2019-03-18,11,3,3,1,2019
499276,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499277,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499278,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499279,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499280,70255752,2019-03-18,2.0,2019-03-18,11,3,3,1,2019
499281,70255752,2019-03-18,-1.0,2019-03-18,11,3,3,1,2019
499282,70255752,2019-03-18,2.0,2019-03-18,11,3,3,1,2019
499283,70255752,2019-03-18,0.0,2019-03-18,11,3,3,1,2019
499284,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499285,70255752,2019-03-18,0.0,2019-03-18,11,3,3,1,2019
499286,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499287,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019
499288,70255752,2019-03-18,1.0,2019-03-18,11,3,3,1,2019